<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="camera_mount" params="parent *origin prefix">

    <joint name="${prefix}parent_to_camera_mount" type="fixed">
  	  <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${prefix}camera_mount_base"/>
    </joint>
    <!-- Camera mount -->
    <link name="${prefix}camera_mount_base"/>

    <link name="${prefix}camera_mount_1">
      <visual>
        <geometry>
          <box size="0.5 0.04 0.04"/>
        </geometry>
        <material name="gray">
          <color rgba="0.7 0.7 0.7 1.0"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <box size="0.5 0.04 0.04"/>
        </geometry>
       </collision>
    </link>
    <gazebo reference="${prefix}camera_mount_1">
      <material>Gazebo/Gray</material>
    </gazebo>

    <link name="${prefix}camera_mount_2">
      <visual>
        <geometry>
          <box size="0.04 0.04 1.06"/>
        </geometry>
        <material name="gray">
          <color rgba="0.7 0.7 0.7 1.0"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <box size="0.04 0.04 1.06"/>
        </geometry>
      </collision>
    </link>
    <gazebo reference="${prefix}camera_mount_2">
      <material>Gazebo/Gray</material>
    </gazebo>

    <link name="${prefix}camera_mount_3">
      <visual>
        <geometry>
          <box size="0.04 0.2 0.04"/>
        </geometry>
        <material name="gray">
          <color rgba="0.7 0.7 0.7 1.0"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <box size="0.04 0.2 0.04"/>
        </geometry>
      </collision>
    </link>
    <gazebo reference="${prefix}camera_mount_3">
      <material>Gazebo/Gray</material>
    </gazebo>

    <link name="${prefix}camera_mount">
      <visual>
        <geometry>
          <box size="0.2 0.04 0.04"/>
        </geometry>
        <material name="gray">
          <color rgba="0.7 0.7 0.7 1.0"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <box size="0.2 0.04 0.04"/>
        </geometry>
      </collision>
    </link>
    <gazebo reference="${prefix}camera_mount">
      <material>Gazebo/Gray</material>
    </gazebo>
    <joint name="${prefix}base_to_camera_mount_1" type="fixed">
      <parent link="${prefix}camera_mount_base"/>
      <child link="${prefix}camera_mount_1"/>
      <origin xyz="0 0 0.02" rpy="0 0 0"/>
    </joint>

    <joint name="${prefix}camera_mount_2_to_1" type="fixed">
      <parent link="${prefix}camera_mount_1"/>
      <child link="${prefix}camera_mount_2"/>
      <origin xyz="0 0 0.55" rpy="0 0 0"/>
    </joint>

    <joint name="${prefix}camera_mount_3_to_2" type="fixed">
      <parent link="${prefix}camera_mount_2"/>
      <child link="${prefix}camera_mount_3"/>
      <origin xyz="0.04 0.08 0" rpy="0 0 0"/>
    </joint>

    <joint name="${prefix}camera_mount_to_3" type="fixed">
      <parent link="${prefix}camera_mount_3"/>
      <child link="${prefix}camera_mount"/>
      <origin xyz="0 0.08 -0.04" rpy="0 0 0"/>
    </joint>
  </xacro:macro>
</robot>
